* {
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
}

.inventoryTable {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    
}

.inventoryTable:hover {
    border: 1px solid black;
}

.table-header {
    margin-bottom: 10px;
    
}

.table-header p {
    position: relative;
    font-size: 24px;
    font-weight: 550;
    display: inline-block;
    margin-left: 25px;
    
}

.table-row {
    position: relative;
    height: 120px;
    margin-bottom: 30px;
    border: 0.25px solid black;
    border-radius: 8px;
    background-color: #F5F5F5;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    cursor: move;
}

.rowNum {
    margin: 0;
    position: absolute;
    left: -25px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cellContent {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.table-row p {
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
}

/* .col1 {

} */
/* .col:not(:first-child){
    margin-left: 20px;
} */

/* .col2 {
    margin-left: 20px;
}

.col3 {
    margin-left: 20px;
}

.col4 {
    margin-left: 20px;
    
} */

.shoeImage {
    object-fit: cover;
    height: 60px;
    width: 120px;
}